html        { position: relative; height: 100%; background: #fff top left repeat; }
body        { position: relative; height: 100%; background: transparent; }

#wrapper    { position: relative; min-width: 960px; min-height: 100%; }

.modal-content  { padding: 10px 0; }

.alert ul   { margin-bottom: 0; }

#header{
  position: absolute; z-index: 2; top: 0; left: 260px; right: 0; padding: 20px; background: #fff;
  border-bottom: 3px solid #c3d934;
  /* color: #aec417; */
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#userMenu  {  }
#userMenu .dropdown-toggle { padding: 4px 6px; color: #aec417; font-size: 16px; }
#userMenu .dropdown-toggle:hover  { text-decoration: none; color: #fff; background: #aec417; }
.user-email { padding-right: 40px; }

hr{
  border-top: 1px solid #f5f5f5;
  border-bottom: none;
}

.public-url{
  border-radius: 0;
  text-align: center;
}

/*
|-------------------------------------------------
| Authentication
|-------------------------------------------------
*/

form.authentication{
  border: 1px solid #e5e5e5;
  position: relative;
  top: 16%;
  margin: 0 auto;
  float: none;
}

.authentication legend{
  font-size: 24px;
  font-weight: 100;
  line-height: 52px;
  color: #353535;

  margin: 0;
  margin-bottom: 20px;
}

.authentication .form-fields{
  padding: 20px;
}

.authentication .form-fields input{
  margin-bottom: 20px;
}

.authentication .form-fields input.last{
  margin-bottom: 0px;
}

.authentication .form-actions{
  margin: 0;
}

/*
|-------------------------------------------------
| Input
|-------------------------------------------------
*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  box-shadow: none;
  border-radius: 0;

  padding: 5px;
  font-size: 12px;

  color: #353535;

  height: 30px;
  min-height: 20px;
}

label{
  color: #353535;
  font-weight: 200;
}

.alert{
  margin: 0px;
  border-radius: 0;

  margin-bottom: 20px;
}

/*
|-------------------------------------------------
| Sidebar
|-------------------------------------------------
*/

.sidebar{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  color: #353535;
  background: #ede9f8 top left repeat;
  font-size: 12px;
}

.sidebar i{
    margin-right: 10px;
}

.side-top{
    background: #0e0a1b url(../img/minibox.png) 20px 20px no-repeat;
    width: 100%;
    height: 132px;
}

.side-top .user{
    font-size: 12px;
    position: relative;
    top: 84px;
    padding: 10px 20px 10px 20px;
    color: #969696;
}

.side-top .dropdown-toggle{
    float: right;
    margin-right: -5px;
    text-decoration: none;
}

.side-top .dropdown-menu > li > a {
    padding: 10px 20px;
}

.side-top .dropdown-menu > li > a:hover{
  background-image: none;
}

.side-top .dropdown-toggle i{
    padding: 0 5px;
    margin: 0;
}

.side-top .dropdown-menu{
    /*box-shadow: none;*/
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: 8px;
}

.side-menu{
    padding: 40px 20px;
    margin: 0;
    list-style: none;
}

.side-menu a{
    display: block;
    color: #353535;
    text-decoration: none;
    padding: 10px 0;
}
.side-menu a:hover{
    color: #656565;
    text-decoration: none;
}

.side-menu li.active{
    background: url('../img/side-menu.png') center right no-repeat;
}

/*
|-------------------------------------------------
| Sidebar / Campaign filter
|-------------------------------------------------
*/

#campaignFilters{
    padding: 20px 20px 0px 20px;
    border-top: 1px solid #cbcbcb;
}

#campaignFilters h5{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  color: #353535;
}

#campaignFilters .checkbox{
    padding: 0 20px 0 0;
}

#campaignFilters .checkbox input{
    float: right;
    margin-left: 0;
    margin-right: -20px;
}

#campaignFilters select{
    width: 100%;
}

#campaignFilters label{
    font-size: 12px;
}

/*
|-------------------------------------------------
| Content
|-------------------------------------------------
*/

#content{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  z-index: 1;
  color: #353535;

  margin: 20px;
}

#content form{
  width: 100%;
  height: 100%;
  margin: 0;
}

#content fieldset{
  width: 600px;
  margin: 0 auto;
  padding: 56px 0;
}

#content select{
  width: 100%;
}

#content .form-actions{
  margin: 0;
  padding: 0;
  border: 0;

  position: relative;
  width: 100%;

  background: #ede9f8;
}

#content .form-actions .actions-left{
  float: left;
}

#content .form-actions .actions-middle{
  position: absolute;
  left: 130px;
  right: 130px;
  top: 0px;
  bottom: 0px;
}

#content .form-actions .actions-right{
  float: right;
}

/*
|-------------------------------------------------
| Content Chunks
|-------------------------------------------------
*/

.content-top{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 0;

  border-bottom: 1px solid #f5f5f5;
}

.content-top ul{
  list-style: none;
}

.content-top ul li{
  float: left;
}

.content-top h1{
  font-size: 24px;
  font-weight: 100;
  line-height: 52px;
  margin: 0;
  color: #353535;
}

.content-middle {
  position: absolute;
  top: 53px;
  bottom: 52px;
  left: 0;
  right: 0;

  overflow: auto;

  background: #fff;
  padding: 0;

  font-size: 12px;
}

.content-middle h2{
  font-size: 18px;
  font-weight: 100;
  line-height: 52px;
  margin: 0;
  color: #353535;
  margin-bottom: 20px;

  border-bottom: 1px solid #f5f5f5;
}

.content-middle .alert{
  position: relative;
  top: 20px;
}

.content-middle .alert ul{
  list-style: none;
  margin: 0;
}

.content-middle fieldset .alert{
  top: 0;
}

.content-middle .text-center{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f5f5f5;
}

.content-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
|-------------------------------------------------
| Page header
|-------------------------------------------------
*/



table .col-check    { width: 20px; text-align: center; }
table .col-check input{ margin: 0; }
table .col-updated  { width: 150px; text-align: right; }
table td.col-updated{
  color: #9c9c9c;
}

/*
|-------------------------------------------------
| Wizzard
|-------------------------------------------------
*/

.wizzard{
  width: 50%;
  display: table;
  table-layout: fixed;
  text-align: justify;
  margin: 16px auto;
  color: #ffffff;
}

.wizzard.size-5{
  width: 25%;
}

.wizzard.size-10{
  width: 50%;
}

.wizzard ul{
  display: table-row;
  list-style: none;
  padding: 0;
}

.wizzard li{
  display: table-cell;
  text-align: center;
}

.wizzard li a{
  text-decoration: none;
}

.wizzard .step{
  position: relative;
  cursor: default;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-indent: 9999px;

  background: transparent;
  border: 2px solid #b6b6b6;

  width: 6px;
  line-height: 6px;
  border-radius: 6px;
}

.wizzard .unlocked{
  background: transparent;
}
.wizzard .current{
  background: #b6b6b6;
  border: 2px solid #b6b6b6;
}


.tpl  { display: none; }
/*
button.remove-item { display: none; }
.control-group:hover button.remove-item { display: inline-block; }*/
input.error { border-color: #B94A48; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #B94A48; }
.control-label.empty { padding-top: 0px; }


/*
|-------------------------------------------------
| Image upload
|-------------------------------------------------
*/

.fileupload-progress,
.fileupload-errors,
.fileupload-complete{
  display: none;
}

.fileupload-label{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.fileupload-progress{
  padding: 16px;
  margin: 0;
  border: 1px solid #eee;
}

.fileupload-progress .progress{
  margin: 0;
}

.image-upload{
  min-height: 36px;
}

.image-upload .input-append{
  margin: 0;
}

.has-image .fileupload-complete{
  display: block;
}

.has-image .fileupload{
  display: none;
}

.fileupload-new .uneditable-input,
.fileupload-complete .fileupload-label{
  border: 1px solid #eee;
  width: 525px;

  box-shadow: none;
  border-radius: 0;

  padding: 10px;
  line-height: 30px;
}

/*
|-------------------------------------------------
| Products
|-------------------------------------------------
*/

.product-listing{

}

.product-listing .control-label {
  width: 230px;
  text-align: left;
}

.product-listing .add-on{
  padding: 5px;
}

.product-listing input{
  padding: 10px;
  margin-bottom: 0;
  line-height: 30px;
}

.product-listing input.input-large{
  width: 385px;
}

.product-listing .input-append{
  margin-bottom: 0;
}

.product-listing .input-append .input-mini{
  text-align: center;
}

.product-listing .input-append .add-on{
  padding: 15px 10px;
  border-radius: 0;
}

/*
|-------------------------------------------------
| Vouchers
|-------------------------------------------------
*/

.voucher-listing{
  margin-bottom: 20px;
}

.voucher-listing input{
  padding: 10px;
  margin-bottom: 0;
  line-height: 30px;
}

.voucher-listing input.input-large{
  width: 368px;
}

.voucher-amount { width: 500px; float: left; clear: both; }
.voucher-limit  { width: 80px; float: right; }

.voucher-limit .input-mini  { width: 58px; }

.extended-vouchers-toggle { margin: 0 0 40px; }

/*
|-------------------------------------------------
| Emails
|-------------------------------------------------
*/

.email-listing{

}

.email-listing input{
  padding: 10px;
  margin-bottom: 0;
  line-height: 30px;
}

.email-listing input.input-large{
  width: 520px;
}

/*
|-------------------------------------------------
| Pagination
|-------------------------------------------------
*/

.pagination{
  margin: 0;
  height: 52px;
  overflow: hidden;;
}

.pagination ul{
  box-shadow: none;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
}

.pagination ul > li{
  border-radius: 0;
}

.pagination ul > li > a, .pagination ul > li > span{
  padding: 18px;
  line-height: 14px;
  width: 14px;
  text-align: center;
}

/*
|-------------------------------------------------
| Dropdown menu arrow
|-------------------------------------------------
*/

.dropdown-menu-arrow::before {
  border-bottom: 7px solid #FFFFFF;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  right: 17px;
  position: absolute;
  top: -7px;
}

.dropdown-menu-arrow::after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 18px;
  position: absolute;
  top: -6px;
}

/*
|-------------------------------------------------
| General button
|-------------------------------------------------
*/

.btn{
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-weight: 100;
  letter-spacing: 1px;
  padding: 19px;

  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;

  opacity: 1;
  line-height: 14px;
  min-width: 14px;

  cursor: hand; cursor: pointer;
}

/*
|-------------------------------------------------
| Close button
|-------------------------------------------------
*/

.btn-close{
  background: #676767;
  padding: 19px;
  color: #ffffff;
}

.btn-close:hover{
  background: #4d4d4d;
  color: #fed017;
}

/*
|-------------------------------------------------
| Create button
|-------------------------------------------------
*/

.btn-create{
  background: #3498db;
  color: #ffffff;
  padding: 19px;
}

.btn-create:hover{
  background: #2980b9;
  color: #ffffff;
}

/*
|-------------------------------------------------
| Email preview button
|-------------------------------------------------
*/

.btn-preview-email{
  background: #3498db;
  color: #ffffff;
  padding: 19px;
  width: 52px;
}

.btn-preview-email:hover{
  background: #2980b9;
  color: #ffffff;
}

/*
|-------------------------------------------------
| Delete button
|-------------------------------------------------
*/

.btn-delete{
  background: #676767;
  color: #ffffff;
  padding: 19px;
  width: 52px;
}

.btn-delete:hover{
  background: #4d4d4d;
  color: #ff0000;
}

.btn-delete.disabled, .btn-delete[disabled] {
  background: #676767;
  color: #ffffff;
}

.btn-delete i{
}

/*
|-------------------------------------------------
| Unpublish button
|-------------------------------------------------
*/

.btn-unpublished{
  background: transparent;
  color: #3498db;
  padding: 19px;
  position: relative;
}

.btn-unpublished:hover{
  background: #ecf0f1;
  color: #2980b9;
}

.btn-unpublished span{
  position: absolute;
  top: 23px;
  left: 13px;
  right: 0;
  color: #2c3e50;

  font-weight: bold;
  font-size: 11px;
}

/*
|-------------------------------------------------
| Save button
|-------------------------------------------------
*/

.btn-save{
  background: #2ecc71;
  width: 130px;
  color: #ffffff;
}

.btn-save:hover{
  background: #27ae60;
  color: #ffffff;
}

.btn-save i{
  margin-right: 10px;
}

/*
|-------------------------------------------------
| Next button
|-------------------------------------------------
*/

.btn-next{
  background: #3498db;
  width: 130px;
  color: #ffffff;
}

.btn-next i{
  margin-right: 10px;
}

/*
|-------------------------------------------------
| Prev button
|-------------------------------------------------
*/

.btn-prev{
  background: #676767;
  width: 130px;
  padding: 19px 0;
  color: #ffffff;
}

.btn-prev i{
  margin-left: 10px;
}

/*
|-------------------------------------------------
| Download button
|-------------------------------------------------
*/

.btn-download{
  background: #3498db;
  color: #ffffff;
  padding: 19px;
}

.btn-download:hover{
  background: #2980b9;
  color: #ffffff;
}

/*
|-------------------------------------------------
| File button
|-------------------------------------------------
*/

.btn-file{
  background: #3498db;
  padding: 19px;
}

.fileupload-new .input-append .btn-file{
  border-radius: 0;
}

.btn-file:hover{
  background: #abcbd6;
}

/*
|-------------------------------------------------
| Save button
|-------------------------------------------------
*/

.btn-add{
  background: #2ecc71;
  width: 160px;
  color: #ffffff;
}

.btn-add:hover{
  background: #27ae60;
  color: #ffffff;
}

.btn-add i{
  margin-right: 10px;
}

/*
|-------------------------------------------------
| Attach button
|-------------------------------------------------
*/

.btn-attach{
  background: #2ecc71;
  color: #ffffff;
}

.btn-attach:hover{
  background: #27ae60;
  color: #ffffff;
}

.btn-attach i{
  margin-right: 0px;
}

/*
|-------------------------------------------------
| Preview button
|-------------------------------------------------
*/

.btn-preview{
  background: #3498db;
  width: 160px;
  color: #ffffff;
}

.btn-preview:hover{
  background: #2980b9;
  color: #ffffff;
}

.btn-preview i{
  margin-right: 10px;
}


/*
|-------------------------------------------------
| Login button
|-------------------------------------------------
*/

.btn-authentication{
  background: #2ecc71;
  width: 130px;
  color: #ffffff;
}

.btn-authentication:hover{
  background: #27ae60;
  color: #ffffff;
}

.btn-authentication i{
  margin-right: 10px;
}

/*
|-------------------------------------------------
| Search button
|-------------------------------------------------
*/

.btn-search{
  background: #3ca7e0;
  color: #ffffff;
  padding: 19px;
}

.btn-search:hover{
  background: #2f93c3;
  color: #ffffff;
}

/*
|-------------------------------------------------
| Prev button
|-------------------------------------------------
*/

table{
  margin-top: 57px;
}

.campaigns-listing-details { position: relative; }
.campaign-listing-info { visibility: hidden;/* position: absolute; top: 0; left: 200px;*/ font-size: 12px; /*margin-left: -10px;*/ }
.campaign-listing-info a { color: #666; margin: 0 10px; }
.campaigns-listing:hover .campaign-listing-info { visibility: visible; }

/*
|-------------------------------------------------
| Listing
|-------------------------------------------------
*/

.campaigns-listing-deleted { background: #e8746f; }
.campaigns-listing-active { background: #81d481; }
.campaigns-listing-incomplete { background: #7fd9eb; }
.campaigns-listing-ended { background: #f6ce6d; }

/*
|-------------------------------------------------
| Modal
|-------------------------------------------------
*/

.modal{
  border-radius: 0;
}

.modal .btn-yes{
  background: #e74c3c;
  color: #ffffff;
  padding: 19px;
}

.modal .btn-yes:hover{
  background: #c0392b;
}

.modal .btn-no{
  background: #2ecc71;
  color: #ffffff;
  padding: 19px;
}

.modal .btn-no:hover{
  background: #27ae60;
}

/*
|-------------------------------------------------
| Search Popover
|-------------------------------------------------
*/

.section-search{

}

.content-top-search .popover-content{
  padding: 9px;
}

.section-search button{
  padding: 9px;
  border: 0;
  background: #2ecc71;
  color: #ffffff;
}

.section-search button:hover{
  background: #27ae60;
  color: #ffffff;
}


/*
|-------------------------------------------------
| Popover
|-------------------------------------------------
*/

.popover{
  border-radius: 0;
  max-width: none;
}

.popover .form-inline{
  margin: 0;
}

.popover input{
  height: auto;
}



/* Loading modal */
.modal.loading .modal-footer * { visibility: hidden; }
.modal.loading .modal-content  { display:none; }
.modal.loading .modal-body { height: 64px; background: url("../img/loading.gif") center center no-repeat; }